First we import all necessary libraries

In [16]:
import plotly.express as px
import pandas as pd
import plotly.graph_objs as go
import chart_studio.plotly as py
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
from dash import Dash, Input, Output, callback, dash_table

# Data cleaning
As a first step the data is read in as a csv file.

In [17]:
data = pd.read_csv("Example_data_masterthesis.csv", sep = ";")

In [18]:
data.head()

  Tested_system Software_test  Test_result Execution_date Test runtime
0      System A        Log-in            1     2022-02-03     00:01:34
1      System A     Vertrag_a            1     2022-02-03     00:05:41
2      System A     Vertrag_b            1     2022-02-03     00:09:48
3      System A     Vertrag_c            1     2022-02-03     00:03:55
4      System A     Vertrag_d            1     2022-02-03     00:02:02

As we want to be able to add various different data, we change the column names, so that we can assure they stay the same. The old name of the columns will vary from data to data and will need to be adapted.

In [19]:
data = data.rename(columns={"Tested_system":"system", "Software_test":"testname", "Test_result":"result", "Execution_date":"date", "Test runtime":"runtime"})

After the data is read in, we want to check, if all data types are set correct. As this is not the case, we set the correct types

In [20]:
data.dtypes

system      object
testname    object
result       int64
date        object
runtime     object
dtype: object

In [21]:
data = data.astype({"result": "bool", "date":"datetime64"})
data["runtime"] = pd.to_datetime(data["runtime"], format= "%H:%M:%S").dt.time
data["date"] = pd.to_datetime(data["date"], format= "%D:%M:%Y").dt.date
data.head()

     system   testname  result        date   runtime
0  System A     Log-in    True  2022-02-03  00:01:34
1  System A  Vertrag_a    True  2022-02-03  00:05:41
2  System A  Vertrag_b    True  2022-02-03  00:09:48
3  System A  Vertrag_c    True  2022-02-03  00:03:55
4  System A  Vertrag_d    True  2022-02-03  00:02:02

Now we check if there are any null values

In [22]:
data.isna().any()

system      False
testname    False
result      False
date        False
runtime     False
dtype: bool

# Dashboard creation
Next we start building the dashboard.

In [23]:
app = Dash(__name__)

In [24]:
app.layout = dash_table.DataTable(

    style_data={
        'whiteSpace': 'normal',
        'height': 'auto',
    },
    
    data=data.to_dict('records'),
    columns=[{'id': c, 'name': c} for c in data.columns],
    fixed_rows={'headers': True},
    style_table={'height': 400},
    style_cell={'textAlign': 'left'},
    style_header={
        'backgroundColor': 'rgb(30, 30, 30)',
        'color': 'white'
    }


)

In [25]:
if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [24/Mar/2022 23:53:09] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [24/Mar/2022 23:53:09] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [24/Mar/2022 23:53:09] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [24/Mar/2022 23:53:09] "GET /_favicon.ico?v=2.2.0 HTTP/1.1" 200 -
127.0.0.1 - - [24/Mar/2022 23:53:09] "GET /_dash-component-suites/dash/dash_table/async-highlight.js HTTP/1.1" 304 -
127.0.0.1 - - [24/Mar/2022 23:53:09] "GET /_dash-component-suites/dash/dash_table/async-table.js HTTP/1.1" 304 -